a {
    text-decoration: none;
    margin: 0px 10px 0px 10px;
}

a:hover {
    text-decoration: underline;
}

td {
    text-align: center;
}


th {
    text-align: center;
}

.modal-body {
    align-items: center;
}

.option {
    padding: 10px 10px 10px 10px;
}

.input_option {
    width: 100%;
    height: 30px;
    border-color: #dee2e6;
    border-radius: 8px;
    border-width: 0.8px;
    background-color: #e9ecef;
}

#preview-image {
    width: 100px;
    height: 100px;
    display: none;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.option_colors{
    width: 80px;
    height: 80px;
}