
<form action="/home/product/add" method="post">
    <label for="product_name">product_name:</label>
    <input type="text" id="product_name" name="product_name" required>

    <br>

    <label for="brand_name">brand_name:</label>
    <input type="text" id="brand_name" name="brand_name" required>

    <br>


    <label for="default_price">default_price:</label>
    <input type="number" step="1000" id="default_price" name="default_price" value="0" required>


    <br>
    <label for="percent_discount">percent_discount:</label>
    <input type="number" step="1" id="percent_discount" name="percent_discount" required value="0">


    <br>


    <!-- Nút đăng nhập -->
    <button type="submit">add</button>
</form>
