<!----------------------- Main Container -------------------------->

<div class="container d-flex justify-content-center align-items-center min-vh-100">

    <!----------------------- Login Container -------------------------->

    <div class="row border rounded-5 p-3 bg-white shadow box-area" style="width: 450px;">


        <div class="col-md-12 right-box">
            <div class="row align-items-center">
                <div class="align-items-center header-text mb-4">
                    <h2>Sign Up</h2>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Email address">
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Password">
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Email address">
                </div>


                <div class="input-group mb-3">
                    <button class="btn btn-lg btn-primary w-100 fs-6">Register</button>
                </div>

                <div class="row">
                    <small>Go back to login <a href="#">Sign In</a></small>
                </div>
            </div>
        </div>

    </div>
</div>